.endereco-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 8px;
  --border-radius: 12px;

  ion-icon {
    font-size: 24px;
    margin-right: 16px;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 4px;
    color: var(--ion-color-dark);
  }

  p {
    margin-bottom: 4px;
    color: var(--ion-color-medium);
  }
}