.logo-container {
  text-align: center;
  margin: 20px 0 40px;
  
  .logo {
    height: 120px;
    margin-bottom: 10px;
  }
}

ion-item {
  margin-bottom: 15px;
  --padding-start: 0;
}

ion-note {
  display: block;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 12px;
}

ion-spinner {
  margin-right: 8px;
}

.ion-margin-top {
  margin-top: 20px;
}

.login-links {
  p {
    margin-bottom: 10px;
    color: var(--ion-color-medium);
  }
  
  ion-button {
    margin-bottom: 8px;
  }
}

