/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
/* src/global.scss */
/* Ionic global styles */
:root {
  --ion-color-primary: #3498db;
  --ion-color-secondary: #bc2ecc;
  --ion-color-tertiary: #9b59b6;
}

/* Custom styles */
ion-card {
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

ion-segment {
  margin: 10px;
}

ion-segment-button {
  --color-checked: var(--ion-color-primary);
}

/* Animation for CNH field */
.fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

// Adicione no final do global.scss
.auto-height {
  --height: auto;
  
  .modal-wrapper {
    height: 85%;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
  }
}

// Garanta que o conteúdo da modal seja visível
ion-modal {
  --ion-background-color: white;
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: white;
}